<div class="container p-4">
  <div class="row">
    {{#each links}}
      <div class="col-md-3 p-2">
        <div class="card text-center bg-dark text-light h-100">
          <div class="card-body">
            <a href="{{url}}" target="_blank" class="text-light">
              <h3 class="card-title text-uppercase">
                {{title}}
              </h3>
            </a>
            <p class="m-2">{{description}}</p>
            <p class="text-muted">
              {{timeago created_at}}
            </p>
            <a class="btn btn-danger" href="/links/delete/{{id}}">
              Delete Link
            </a>
            <a class="btn btn-secondary" href="/links/edit/{{id}}">
              Edit
            </a>
          </div>
        </div>
      </div>
    {{else}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center bg-dark text-light">
          <p>There are not Links saved yet.</p>
          <a href="/links/add" class="text-success">Create One!</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>